[submodule "High-Precision-Congestion-Control"]
	path = High-Precision-Congestion-Control
	url = git@github.com:kwzhao/High-Precision-Congestion-Control.git
[submodule "parsimon-eval"]
	path = parsimon-eval
	url = git@github.com:netiken/parsimon-eval.git
[submodule "flowsim/rapidyaml"]
	path = inference/rapidyaml
	url = git@github.com:antonzabreyko/rapidyaml.git
[submodule "m3"]
	path = m3
	url = git@github.com:netiken/m3.git
